In [4]:
import pandas as pd

#load csv into a data frame

df = pd.read_csv('acc_players-2324F.csv')

# display first 5 rows of data frame

print(df.head())

  Unnamed: 0     Unnamed: 1 Unnamed: 2 Unnamed: 3      Unnamed: 4 Totals  \
0         Rk         Player      Class        Pos          School      G
1          1   Amaree Abram         SO          G    Georgia Tech     10
2          2   Sola Adebisi         FR          F   Florida State      7
3          3  Prince Aligbe         SO          F  Boston College     35
4          4     Abe Atiyeh         SR          G  Boston College      4

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 11 Unnamed: 12  \
0         MP        TRB        AST        STL  ...         TOV          PF
1        108         17         11          1  ...           9          10
2          9          1          1          0  ...           1           1
3        651        119         21         15  ...          30          51
4          6          0          0          0  ...           1           0

  Unnamed: 13 Shooting Unnamed: 15 Unnamed: 16 Unnamed: 17 Advanced  \
0         PTS      FG%         2P%         3P%         FT%      PER
1          34    0.262       0.318         0.2       0.615      4.1
2           2      0.5         0.5         NaN         NaN      3.5
3         164    0.435       0.522       0.147        0.62      9.4
4           3    0.333           0           1         NaN      1.1

  Unnamed: 19 Unnamed: 20
0          WS         BPM
1        -0.1        -6.4
2           0        -6.7
3         0.9        -1.3
4           0        -8.2

[5 rows x 21 columns]

In [12]:
# basic analysis

# calculate total points scored by all players combined

df['Unnamed: 13'] = pd.to_numeric(df['Unnamed: 13'], errors='coerce')

total_points = df[('Unnamed: 13')].sum()

print(total_points)

38411.0

In [13]:
# player who has played the most minutes

df['Unnamed: 6'] = pd.to_numeric(df['Unnamed: 6'], errors='coerce')

max_mp_player = df.loc[df['Unnamed: 6'].idxmax(), 'Unnamed: 1']

print(max_mp_player)

Casey Morsell

In [19]:
# identify the top 5 players in terms of total rebounds (TRB)

df['Unnamed: 7'] = pd.to_numeric(df['Unnamed: 7'], errors='coerce')
df['Unnamed: 8'] = pd.to_numeric(df['Unnamed: 8'], errors='coerce')
df['Unnamed: 11'] = pd.to_numeric(df['Unnamed: 11'], errors='coerce')

total_rebounds = df.groupby('Unnamed: 1')['Unnamed: 7'].sum().reset_index()

top_5_players = total_rebounds.sort_values(by='Unnamed: 7', ascending=False).head(5)
print(top_5_players)

          Unnamed: 1  Unnamed: 7
13     Armando Bacot       380.0
81   Ian Schieffelin       340.0
77   Harrison Ingram       327.0
156   Mohamed Diarra       311.0
165    Norchad Omier       309.0

In [15]:
# player filtering

# create a new dataframe containing only players who played more than 500 minutes

players_over = df[df['Unnamed: 6'] > 500]

print(players_over)

    Unnamed: 0        Unnamed: 1 Unnamed: 2 Unnamed: 3      Unnamed: 4 Totals  \
3            3     Prince Aligbe         SO          F  Boston College     35
5            5       Zack Austin         JR          F      Pittsburgh     33
6            6     Armando Bacot         SR          F  North Carolina     37
8            8     Reece Beekman         SR          G        Virginia     34
10          10        Chris Bell         SO          F        Syracuse     32
..         ...               ...        ...        ...             ...    ...
204        204     Jamir Watkins         JR          F   Florida State     33
207        207         Tre White         SO          G      Louisville     29
208        208  Chauncey Wiggins         SO          F         Clemson     36
210        210   Curtis Williams         FR          G      Louisville     32
216        216    Jaeden Zackery         JR          G  Boston College     36

     Unnamed: 6  Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 11  \
3         651.0       119.0         21         15  ...          30
5         746.0       137.0         29         32  ...          13
6        1123.0       380.0         56         22  ...          60
8        1114.0       124.0        212         68  ...          70
10        865.0        75.0         21         18  ...          26
..          ...         ...        ...        ...  ...         ...
204       928.0       199.0         91         64  ...          84
207       907.0       170.0         39         24  ...          53
208       639.0        76.0         33          6  ...          26
210       564.0        42.0         20         12  ...          26
216      1216.0       119.0        152         63  ...          71

    Unnamed: 12 Unnamed: 13  Shooting Unnamed: 15 Unnamed: 16 Unnamed: 17  \
3            51       164.0     0.435       0.522       0.147        0.62
5            35       216.0     0.417       0.563       0.295       0.737
6           100       538.0      0.54       0.544         0.4       0.781
8            43       486.0     0.443       0.487        0.31       0.754
10           58       384.0     0.434       0.459        0.42       0.842
..          ...         ...       ...         ...         ...         ...
204          92       514.0     0.457         0.5       0.344       0.795
207          66       357.0     0.456       0.515       0.299       0.752
208          46       196.0     0.442       0.528       0.349       0.714
210          24       170.0     0.317       0.373       0.287       0.714
216          78       408.0     0.484       0.511       0.405       0.824

    Advanced Unnamed: 19 Unnamed: 20
3        9.4         0.9        -1.3
5         18         2.9         7.9
6       24.6         6.1         8.9
8       23.4         4.9        10.5
10      14.9         2.2         3.3
..       ...         ...         ...
204     24.2         3.9         9.1
207       15         1.7         1.8
208       11         1.2         1.9
210      5.9        -0.2        -3.8
216     16.4         3.7         3.5

[98 rows x 21 columns]

In [17]:
# find player with highest total assists from new data frame

max_assists = players_over.loc[players_over['Unnamed: 8'].idxmax(), 'Unnamed: 1']

print(max_assists)

Jalen Warley

In [18]:
# top 3 assist leads in the league

assists = players_over.groupby('Unnamed: 1')['Unnamed: 8'].sum().reset_index()

top_3_players = assists.sort_values(by='Unnamed: 8', ascending=False).head(3)
print(top_3_players)

         Unnamed: 1 Unnamed: 8
45     Jalen Warley         92
46    Jamir Watkins         91
58  Kyle Sturdivant         91

In [20]:
# top 3 shot blockers

blocks = players_over.groupby('Unnamed: 1')['Unnamed: 11'].sum().reset_index()

top_3_blockers = blocks.sort_values(by='Unnamed: 11', ascending=False).head(3)
print(top_3_blockers)

             Unnamed: 1 Unnamed: 11
51          Judah Mintz          94
76  Parker Friedrichsen           9
88           Skyy Clark          88

In [23]:
# school-based analysis

#group the players by school and calculate the total points scored by each school

schools = df.groupby('Unnamed: 4')['Unnamed: 13'].sum().reset_index()

print(schools)

        Unnamed: 4  Unnamed: 13
0   Boston College       2667.0
1          Clemson       2785.0
2             Duke       2830.0
3    Florida State       2526.0
4     Georgia Tech       2272.0
5       Louisville       2304.0
6       Miami (FL)       2424.0
7         NC State       3101.0
8   North Carolina       3032.0
9       Notre Dame       2113.0
10      Pittsburgh       2495.0
11          School          0.0
12        Syracuse       2442.0
13        Virginia       2140.0
14   Virginia Tech       2547.0
15     Wake Forest       2733.0

In [24]:
# group players by school and calculate the total assists for each team

school_assists = df.groupby('Unnamed: 4')['Unnamed: 8'].sum().reset_index()

print(school_assists)

        Unnamed: 4  Unnamed: 8
0   Boston College       509.0
1          Clemson       533.0
2             Duke       551.0
3    Florida State       406.0
4     Georgia Tech       425.0
5       Louisville       356.0
6       Miami (FL)       454.0
7         NC State       536.0
8   North Carolina       536.0
9       Notre Dame       335.0
10      Pittsburgh       452.0
11          School         0.0
12        Syracuse       442.0
13        Virginia       509.0
14   Virginia Tech       514.0
15     Wake Forest       429.0

In [25]:
# sort the schools by total points scored and display the top 3 schools

top_3_schools = schools.sort_values(by='Unnamed: 13', ascending=False).head(3)
print(top_3_schools)

       Unnamed: 4  Unnamed: 13
7        NC State       3101.0
8  North Carolina       3032.0
2            Duke       2830.0

Reflection:

By completing this assignment, I was able to practice the csv and pandas techniques we discussed in class. I learned more about reading data within a data frame and how to access the specific piece of data that I want to analyze. In this assignment, I mainly utilized the loc[] and
groupby() functions that I now feel way more proficient in then before I completed the assignment. The groupby() function is an easy way to filter the data or basically create a new, more specific data frame when you want to hone in on only a few variables. I also got practice using the idmax() and sum() functions in order to perform some basic data analytics. All of these techniques will be helpful in future data science projects.

The most challenging part of this assignment was honestly just understanding the data and how it was formatted in the data frame. It took me a while to realize that most of the columns were under 'Unnamed' and then the number of the column. In retrospect, I should've changed the names to all of the columns in the very beginning to make this easier and my code more clear/readable. Additionally, many of the data types for these columns needed to be coerced to numeric integer values in order to be summed or analyzed. This was another piece of information that I forgot to check for and then was later confused upon receiving errors. So as a whole, the data cleaning or simply understanding was definitely most challenging for me.

The insights gained from analyzing ACC basketball statistics can be applied to many other fields and many other data sets. Most data sets in business models will include numeric statistical information about expenses, earnings, assets, investments, etc., and the same data science techniques I used in this assignment I can apply to any basic statistical analysis. In terms of data science challenges, this assignment forced me to problem-solve and think about the structure of the data. These are important considerations in data science. Many data frames will have missing values or will be in the incorrect format/data type and fixing these issues is crucial when analyzing data.